.product-item {
  display: grid;
  /* align-items: center; */
  grid-template-columns: 1fr 1fr 1fr;
  padding: .5rem;
  width: 100%;
  img {
          width: 150px;
          height:45px;

      }


img {
  width: 150px;
  height: 45px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 1rem;
}

.product-list-detail {
  /* flex: 1 1 0; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-list-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.product-category {
  vertical-align: middle;
  line-height: 1;
}

}

@media screen and (max-width: 576px) {
  .product-item {
    flex-wrap: wrap;
    .image-container

{
  width: 100%;
  text-align: center;
}

img {
  margin: 0 0 1rem 0;
  width: 100px;
}

}
}

.picklist-class {
  display: grid;
  grid-template-rows: 0.8fr 1.5fr;
  /* overflow: hidden; */
}

.main-class {
  height: 130%;
  overflow: scroll;
}

:host ::ng-deep .p-picklist .p-picklist-header .p-picklist-title {
  font-weight: 600;
  height: 0px;
}

:host ::ng-deep .p-picklist .p-picklist-header {
  /* background: #f8f9fa; */
  /* color: #495057; */
  /* border: 1px solid #dee2e6; */
  padding: 0rem;
  /* border-bottom: 0 none; */
  /* border-top-right-radius: 3px; */
  border-top-left-radius: 3px;
}

:host ::ng-deep .p-picklist .p-picklist-list .p-picklist-item {
  padding: 0.5rem 1rem;
  margin: 0;
  border: 0 none;
  color: #495057;
  background: transparent;
  transition: box-shadow 0.2s;
  height: 60px;
}
