/* :host ::ng-deep.p-datatable .p-datatable-thead > tr > th {
    color: #ffffff;
    background: goldenrod;
    
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:host ::ng-deep.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
    border-width: 1px;
    font-family: ui-sans-serif;
    font-style: initial;
    font-weight: 300;
    font-size: medium;
} */

.loading-con{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background: black;
  }
  .center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 50%;
  }
  .ring::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    animation: ring 2s linear infinite;
  }
  @keyframes ring {
    0%{
    transform: rotate(0deg);
    box-shadow:1px 5px 2px #e65c00;
  }
    50%{
    transform: rotate(180deg);
    box-shadow:1px 5px 2px #18b201;
  }
    100%{
    transform: rotate(360deg);
    box-shadow:1px 5px 2px #0456c8;
  }
  }
  span{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
  }
  @keyframes text {
    50%{
        color: black;
    }
  }
:host ::ng-deep .text-salary .p-inputnumber-input {
    color: black !important;

  }
:host ::ng-deep.p-inputtext, body .p-inputtext {
    
    height: 30px;
    font-size: 12px;
    width: 12rem;
}
.accountSection{
    display : grid;
grid-template-rows: 0.4fr 2.5fr;
gap: 28px;
grid-gap: 28px;
}
.columntwo{
    display : grid;
grid-template-columns: 1fr 1fr 1fr;
/* gap: 16px;
grid-gap: 16px; */
}
.oneRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 32px;
}
.after-calender{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 28px;
grid-gap: 28px;
}

.second-step{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}
.btn-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.taj-attendence{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.noor-attendence{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.column{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 32px
}
.row{
    display: grid;
    grid-template-rows : 1fr 1fr;
    gap: 16px;
}
.column2{
    display: grid;
    grid-template-columns : 1fr 1fr;
    /* gap: 16px; */
}

.print-main{
    display:grid;
    grid-template-rows: 0.1fr 0.3fr 0.3fr 0.3fr 1fr;
}
.reading-oldstay{
    display: grid;
    grid-template-columns: 1fr 1fr;


}
.a4-oldgone{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.binding-todaystay{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

:host ::ng-deep  .p-datatable .p-datatable-thead > tr > th {
    color: #16ff9e;
    background: #060b23;
    font-size: medium;
    font-family: cursive;
}

:host ::ng-deep  .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
    border-width: 1px;
    font-family: cursive;
    font-style: initial;
    font-weight: 300;
    font-size: medium;
    background: #060b23;
    color: #c6e22b;
}

:host ::ng-deep .p-datatable .p-paginator-bottom {
    border-width: 0 0 1px 0;
    border-radius: 0;
    background: #060b23;
    /* color: #dce3f5; */
}


:host ::ng-deep.p-datatable-responsive-scroll>.p-datatable-wrapper {
    /* overflow-x: auto; */
    /* overflow: scroll; */
    overflow-x: scroll;
    overflow-y: scroll;
}

:host ::ng-deep  .p-inputtext {
    height: 30px;
    font-size: medium;
    width: 12rem;
    background: none;

    font-family: emoji;
    outline: none;
    color: #fbeb2d;
    border: 2px solid #77ff00;
}

