

<div class="loading-indicator" *ngIf="showProgress">
  <p-progressSpinner></p-progressSpinner>
</div>
<p-menubar >


  <ng-template pTemplate="start">
      <i class="pi pi-slack"></i>
  </ng-template>
  <ng-template pTemplate="end">

      <span (click)="spendPage()" style="font-style: italic; color: black; cursor: pointer;    font-family: ui-rounded;"> <h4 style="color: black;">TOTAL:  ₹ {{totalValue}}</h4>  Students Park Xerox   {{dateStr}}</span>
  
  </ng-template>
</p-menubar>

<div class="dock-window">
  <p-dock *ngIf="!passwordClick"  [model]="dockItems" position="bottom">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.icon" [alt]="item.label" width="100%">
    </ng-template>
  </p-dock>
  <p-dock *ngIf="passwordClick"  [model]="dockItemsPass" position="bottom">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.icon" [alt]="item.label" width="100%">
    </ng-template>
  </p-dock>

  <p-dock *ngIf="dataEntry" [model]="leftMenu" position="left">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.icon" [alt]="item.label" width="100%">
    </ng-template>
  </p-dock>


  <p-dock *ngIf="spendShow" [model]="dockItemsSpents" position="right">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.icon" [alt]="item.label" width="100%">
    </ng-template>
</p-dock>

<p-calendar *ngIf="calendarShow"  (onSelect)="dateSelected($event)"  [(ngModel)]="dateSpend" [inline]="true" [showWeek]="false"></p-calendar>
  <div class="child-component">
    <p-sidebar [(visible)]="showkodambakkam"
               position="right"
               [baseZIndex]="10000"
               [fullScreen]="true">
      <app-kodambakkam [adminAccess]="adminKodambakkam" (saveClicked)="kodambakkamSaved()" *ngIf="showkodambakkam"></app-kodambakkam>
    </p-sidebar>
    <p-sidebar [(visible)]="showTrustpuram"
               position="right"
               [baseZIndex]="10000"
               [fullScreen]="true"
           >
        
      <app-trustpuram [adminAccess]="adminTrustpuram" (saveClicked)="trustpuramSaved()" *ngIf="showTrustpuram"></app-trustpuram>
    </p-sidebar>
    <p-sidebar [(visible)]="showAdmin"
               position="right"
               [baseZIndex]="10000"
               [fullScreen]="true">
      <app-admin *ngIf="showAdmin"></app-admin>
    </p-sidebar>
    <p-sidebar [(visible)]="showHouseSpends"
               position="right"
               [baseZIndex]="10000"
               position="right"
               [fullScreen]="true"
               >
      <app-housespends *ngIf="showHouseSpends"></app-housespends>
    </p-sidebar>





    <p-sidebar [(visible)]="showNetCalculation"
               position="right"
               [baseZIndex]="10000"
               [fullScreen]="true">
      <app-netcalculate *ngIf="showNetCalculation"></app-netcalculate>
    </p-sidebar>



   













  </div>

</div>




<!-- 
<form>
  <div>
    <input type="file" (change)="onFileSelected($event)">
  </div>
  <div>
    <button type="submit" (click)="onSubmit()">Upload</button>
  </div>
</form>
<div>
  <label for="text">Extracted Text:</label>
  <input type="text" id="text" [(ngModel)]="text">
</div> -->





<p-dialog header='title' [closable]="false" [(visible)]="displayEditDialog" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
[draggable]="false" [resizable]="false">
<ng-template pTemplate="header">
{{title}}
<div *ngIf="isBlackXerox">
<p-selectButton [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value"></p-selectButton>

</div>


</ng-template>
<div *ngIf="isBlackXerox">
<div *ngIf="value1=='off'">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="blackCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
<br>
<div class="field-radiobutton">
<p-radioButton name="copy" (click)="copySelected=true" value="Single-Side" [(ngModel)]="copy" inputId="city1"></p-radioButton>
<label for="city1">Single-Side</label>
</div>
<br>
<div class="field-radiobutton">
<p-radioButton name="copy" (click)="copySelected=true" value="Front-&-Back" [(ngModel)]="copy" inputId="city2"></p-radioButton>
<label for="city2">Front-&-Back</label>
</div>

</div>
<div *ngIf="value1=='on'">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Single Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="singleCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
<br>
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Front/Back Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="b2bCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
</div>

</div>
<div *ngIf="isBlackPrintout">
<div *ngIf="value2=='off'">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="blackPrintCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
<br>
<div class="field-radiobutton">
<p-radioButton name="copy2" (click)="copySelected=true" value="Single-Side" [(ngModel)]="copy2" inputId="city1"></p-radioButton>
<label for="city1">Single-Side</label>
</div>
<br>
<div class="field-radiobutton">
<p-radioButton name="copy2" (click)="copySelected=true" value="Front-&-Back" [(ngModel)]="copy2" inputId="city2"></p-radioButton>
<label for="city2">Front-&-Back</label>
</div>
<br>
<div style="display: grid; grid-template-columns: 1fr 1fr">
<div class="field-checkbox">
<p-checkbox [(ngModel)]="isNetCharge" [binary]="true" inputId="binary2"></p-checkbox>
<label (click)="isNetCharge=!isNetCharge" for="binary2">Net Charge</label>
</div>
<div class="field-checkbox">
<p-checkbox [(ngModel)]="isFreshCustomer" [binary]="true" inputId="binary"></p-checkbox>
<label (click)="isFreshCustomer=!isFreshCustomer" for="binary">10-copies-2rupees</label>
</div>
</div>
</div>

</div>
<div *ngIf="isColourXerox">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="colourCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
</div>
<div *ngIf="isColourPrintout">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="colourPrintCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
<br>
<div style="display: grid; grid-template-columns: 1fr 1fr">
<div class="field-checkbox">
<p-checkbox [(ngModel)]="isNetCharge" [binary]="true" inputId="binary2"></p-checkbox>
<label (click)="isNetCharge=!isNetCharge" for="binary2">Net Charge</label>
</div>

</div>
</div>

<div *ngIf="isScanning">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Scanned Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="scanCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
</div>
<div *ngIf="isLamination">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Lamination Rate: &nbsp;</label>
<p-inputNumber [(ngModel)]="laminationRate" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
</div>
<div *ngIf="isBinding">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Binding Rate: &nbsp;</label>
<p-inputNumber [(ngModel)]="bindingRate" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
</div>
<ng-template pTemplate="footer">

<div style="display:grid; grid-template-columns: 1fr 1fr">
<div style="margin-right:40% ;">
<button pButton pRipple type="button" icon="pi pi-times" (click)="cancelCalc()" label="Cancel" class="p-button-raised p-button-danger"></button>
</div>

<div style="margin-right:20% ;">
<button pButton pRipple type="button" icon="pi pi-file" (click)="saveEdit()" label="Success" class="p-button-raised p-button-success"></button>

</div>

</div>
</ng-template>
</p-dialog>



<p-dialog header='title' [closable]="false" [(visible)]="displayHouseSpend" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
[draggable]="false" [resizable]="false">
<ng-template pTemplate="header">
{{title}}
<div *ngIf="displayHouseSpend">
<p-selectButton [options]="moneyOptions" [(ngModel)]="houseValue" optionLabel="label" optionValue="value"></p-selectButton>

</div>


</ng-template>
<div *ngIf="grocerryClicked">
  <div class="field col-12 md:col-3">
  <label for="minmax-buttons">Grocerry Rate: &nbsp;</label>
  <p-inputNumber [(ngModel)]="grocerryAmt" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
  </p-inputNumber>
  </div>
  </div>


  <div *ngIf="entertainmentClicked">
    <div class="field col-12 md:col-3">
    <label for="minmax-buttons">Entertainment Spent: &nbsp;</label>
    <p-inputNumber [(ngModel)]="entertainmentAmt" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
    </p-inputNumber>
    </div>
    </div>

    <div *ngIf="depositClicked">
      <div class="field col-12 md:col-3">
      <label for="minmax-buttons">Deposit Amount: &nbsp;</label>
      <p-inputNumber [(ngModel)]="entertainmentAmt" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
      </p-inputNumber>
      </div>
      </div>
  

      <div *ngIf="maintanenceClicked">
        <div class="field col-12 md:col-3" style="display: grid; grid-template-rows: 1fr 1fr 1fr fr;">
        <label for="minmax-buttons">Shop Current Bill: &nbsp;</label>
        <p-inputNumber [(ngModel)]="shopCurrentAmt" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
        </p-inputNumber>

        <label for="minmax-buttons">House Current Bill: &nbsp;</label>
        <p-inputNumber [(ngModel)]="houseCurrentAmt" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
        </p-inputNumber>

        <label for="minmax-buttons">Paper Amount: &nbsp;</label>
        <p-inputNumber [(ngModel)]="paperAmt" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
        </p-inputNumber>

        <label for="minmax-buttons">Black Toner: &nbsp;</label>
        <p-inputNumber [(ngModel)]="blackTonerAmt" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
        </p-inputNumber>

        <label for="minmax-buttons">Colour Toner: &nbsp;</label>
        <p-inputNumber [(ngModel)]="colourTonerAmt" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
        </p-inputNumber>

        <label for="minmax-buttons">Black Maintanence: &nbsp;</label>
        <p-inputNumber [(ngModel)]="blackMaintainAmt" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
        </p-inputNumber>

        <label for="minmax-buttons">Colour Maintanence: &nbsp;</label>
        <p-inputNumber [(ngModel)]="colourMaintainAmt" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
        </p-inputNumber>


        <label for="minmax-buttons">Binding: &nbsp;</label>
        <p-inputNumber [(ngModel)]="bindingAmt" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
        </p-inputNumber>

      
        
        <label for="minmax-buttons">Others: &nbsp;</label>
        <p-inputNumber [(ngModel)]="otherAmt" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
        </p-inputNumber>


        </div>
        </div>








<ng-template pTemplate="footer">

<div style="display:grid; grid-template-columns: 1fr 1fr">
<div style="margin-right:40% ;">
<button pButton pRipple type="button" icon="pi pi-times" (click)="cancelHouse()" label="Cancel" class="p-button-raised p-button-danger"></button>
</div>


<div *ngIf="deleteHouseEntry && calendarClicked" style="margin-right:20% ;">
  <button pButton pRipple type="button" icon="pi pi-file" (click)="deleteSaveHouse()" label="Success" class="p-button-raised p-button-success"></button>
  
  </div>


<div *ngIf="!deleteHouseEntry && calendarClicked" style="margin-right:20% ;">
<button pButton pRipple type="button" icon="pi pi-file" (click)="saveHouse()" label="Success" class="p-button-raised p-button-success"></button>

</div>
<div *ngIf="!calendarClicked" style="margin-right:20% ;">
  <button pButton pRipple type="button" icon="pi pi-file" (click)="saveGrocerry()" label="Success" class="p-button-raised p-button-success"></button>
  
  </div>
</div>
</ng-template>
</p-dialog>