<!-- <div class="container-main">
  <div class="card-component">
    <p-card>
      <div class="title-class" style="font-style: italic; color: black;    font-family: ui-rounded;"><h1>S T U D E N T S    &nbsp;&nbsp; P A R K  &nbsp;&nbsp;</h1></div>
      <p-toolbar>
        <div class="p-toolbar-group-left">
  
          <div>
            <p-splitButton label="Entry" (onClick)="adminfunc('info')" icon="pi pi-cog" [model]="items" styleClass="p-button-warning"></p-splitButton>
          </div>


        </div>

        <div class="p-toolbar-group-right">

          <p-button icon="pi pi-percentage"  (click)="showAdminFunc()" styleClass="p-button-success"></p-button>
        </div>
      </p-toolbar>
    </p-card>
  </div>

  <div class="child-component">
    <p-sidebar [(visible)]="showkodambakkam"
               position="right"
               [baseZIndex]="10000"
               position="right"
               [style]="{ width: '40em' }">
      <app-kodambakkam [adminAccess]="adminKodambakkam" (saveClicked)="kodambakkamSaved()" *ngIf="showkodambakkam"></app-kodambakkam>
    </p-sidebar>
    <p-sidebar [(visible)]="showTrustpuram"
               position="right"
               [baseZIndex]="10000"
               position="right"
               [style]="{ width: '40em' }">
      <app-trustpuram [adminAccess]="adminTrustpuram" (saveClicked)="trustpuramSaved()" *ngIf="showTrustpuram"></app-trustpuram>
    </p-sidebar>
    <p-sidebar [(visible)]="showAdmin"
               position="right"
               [baseZIndex]="10000"
               position="right"
               [style]="{ width: '40em' }">
      <app-admin *ngIf="showAdmin"></app-admin>
    </p-sidebar>
    <p-sidebar [(visible)]="showHouseSpends"
               position="right"
               [baseZIndex]="10000"
               position="right"
               [style]="{ width: '40em' }">
      <app-housespends *ngIf="showHouseSpends"></app-housespends>
    </p-sidebar>
    <p-sidebar [(visible)]="showNetCalculation"
               position="right"
               [baseZIndex]="10000"
               position="right"
               [style]="{ width: '40em' }">
      <app-netcalculate *ngIf="showNetCalculation"></app-netcalculate>
    </p-sidebar>

    <app-calculator></app-calculator>

  </div>



  







  <router-outlet></router-outlet>
</div> -->


<p-menubar [model]="menubarItems">
  <ng-template pTemplate="start">
      <i class="pi pi-slack"></i>
  </ng-template>
  <ng-template pTemplate="end">
      <!-- <i class="pi pi-video"></i>
      <i class="pi pi-wifi"></i>
      <i class="pi pi-volume-up"></i> -->
      <span style="font-style: italic; color: black;    font-family: ui-rounded;"> <h4 style="color: black;">TOTAL:  ₹ {{totalValue}}</h4>  Students Park Xerox   {{dateStr}}</span>
      <!-- <i class="pi pi-search"></i>
      <i class="pi pi-bars"></i> -->
  </ng-template>
</p-menubar>

<div class="dock-window">
  <p-dock [model]="dockItems" position="bottom">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.icon" [alt]="item.label" width="100%">
    </ng-template>
  </p-dock>

  <p-dock [model]="dockItemsSpents" position="left">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.icon" [alt]="item.label" width="100%">
    </ng-template>
</p-dock>


  <div class="child-component">
    <p-sidebar [(visible)]="showkodambakkam"
               position="right"
               [baseZIndex]="10000"
               position="right"
               [style]="{ width: '40em' }">
      <app-kodambakkam [adminAccess]="adminKodambakkam" (saveClicked)="kodambakkamSaved()" *ngIf="showkodambakkam"></app-kodambakkam>
    </p-sidebar>
    <p-sidebar [(visible)]="showTrustpuram"
               position="right"
               [baseZIndex]="10000"
               position="right"
               [style]="{ width: '40em' }">
      <app-trustpuram [adminAccess]="adminTrustpuram" (saveClicked)="trustpuramSaved()" *ngIf="showTrustpuram"></app-trustpuram>
    </p-sidebar>
    <p-sidebar [(visible)]="showAdmin"
               position="right"
               [baseZIndex]="10000"
               position="right"
               [style]="{ width: '40em' }">
      <app-admin *ngIf="showAdmin"></app-admin>
    </p-sidebar>
    <p-sidebar [(visible)]="showHouseSpends"
               position="right"
               [baseZIndex]="10000"
               position="right"
               [style]="{ width: '40em' }">
      <app-housespends *ngIf="showHouseSpends"></app-housespends>
    </p-sidebar>
    <p-sidebar [(visible)]="showNetCalculation"
               position="right"
               [baseZIndex]="10000"
               position="right"
               [style]="{ width: '40em' }">
      <app-netcalculate *ngIf="showNetCalculation"></app-netcalculate>
    </p-sidebar>

    <!-- <app-calculator></app-calculator> -->


   













  </div>




  
</div>

<p-dialog header='title' [closable]="false" [(visible)]="displayEditDialog" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
[draggable]="false" [resizable]="false">
<ng-template pTemplate="header">
{{title}}
<div *ngIf="isBlackXerox">
<p-selectButton [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value"></p-selectButton>

</div>


</ng-template>
<div *ngIf="isBlackXerox">
<div *ngIf="value1=='off'">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="blackCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
<br>
<div class="field-radiobutton">
<p-radioButton name="copy" (click)="copySelected=true" value="Single-Side" [(ngModel)]="copy" inputId="city1"></p-radioButton>
<label for="city1">Single-Side</label>
</div>
<br>
<div class="field-radiobutton">
<p-radioButton name="copy" (click)="copySelected=true" value="Front-&-Back" [(ngModel)]="copy" inputId="city2"></p-radioButton>
<label for="city2">Front-&-Back</label>
</div>

</div>
<div *ngIf="value1=='on'">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Single Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="singleCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
<br>
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Front/Back Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="b2bCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
</div>

</div>
<div *ngIf="isBlackPrintout">
<div *ngIf="value2=='off'">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="blackPrintCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
<br>
<div class="field-radiobutton">
<p-radioButton name="copy2" (click)="copySelected=true" value="Single-Side" [(ngModel)]="copy2" inputId="city1"></p-radioButton>
<label for="city1">Single-Side</label>
</div>
<br>
<div class="field-radiobutton">
<p-radioButton name="copy2" (click)="copySelected=true" value="Front-&-Back" [(ngModel)]="copy2" inputId="city2"></p-radioButton>
<label for="city2">Front-&-Back</label>
</div>
<br>
<div style="display: grid; grid-template-columns: 1fr 1fr">
<div class="field-checkbox">
<p-checkbox [(ngModel)]="isNetCharge" [binary]="true" inputId="binary2"></p-checkbox>
<label (click)="isNetCharge=!isNetCharge" for="binary2">Net Charge</label>
</div>
<div class="field-checkbox">
<p-checkbox [(ngModel)]="isFreshCustomer" [binary]="true" inputId="binary"></p-checkbox>
<label (click)="isFreshCustomer=!isFreshCustomer" for="binary">10-copies-2rupees</label>
</div>
</div>
</div>

</div>
<div *ngIf="isColourXerox">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="colourCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
</div>
<div *ngIf="isColourPrintout">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="colourPrintCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
<br>
<div style="display: grid; grid-template-columns: 1fr 1fr">
<div class="field-checkbox">
<p-checkbox [(ngModel)]="isNetCharge" [binary]="true" inputId="binary2"></p-checkbox>
<label (click)="isNetCharge=!isNetCharge" for="binary2">Net Charge</label>
</div>

</div>
</div>

<div *ngIf="isScanning">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Scanned Copies: &nbsp;</label>
<p-inputNumber [(ngModel)]="scanCopies" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
</div>
<div *ngIf="isLamination">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Lamination Rate: &nbsp;</label>
<p-inputNumber [(ngModel)]="laminationRate" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
</div>
<div *ngIf="isBinding">
<div class="field col-12 md:col-3">
<label for="minmax-buttons">Binding Rate: &nbsp;</label>
<p-inputNumber [(ngModel)]="bindingRate" mode="decimal" inputId="minmax-buttons" [min]="0" [max]="1000000">
</p-inputNumber>
</div>
</div>
<ng-template pTemplate="footer">

<div style="display:grid; grid-template-columns: 1fr 1fr">
<div style="margin-right:40% ;">
<button pButton pRipple type="button" icon="pi pi-times" (click)="cancelCalc()" label="Cancel" class="p-button-raised p-button-success"></button>
</div>

<div style="margin-right:20% ;">
<button pButton pRipple type="button" icon="pi pi-file" (click)="saveEdit()" label="Success" class="p-button-raised p-button-success"></button>

</div>

</div>
</ng-template>
</p-dialog>
