:host ::ng-deep.p-panel .p-panel-header {
    border: 1px solid grey;
    color: black;
    background-color: whitesmoke;
    height: 5px;
}

.loading-con{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background: black;
  }
  .center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 50%;
  }
  .ring::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    animation: ring 2s linear infinite;
  }
  @keyframes ring {
    0%{
    transform: rotate(0deg);
    box-shadow:1px 5px 2px #e65c00;
  }
    50%{
    transform: rotate(180deg);
    box-shadow:1px 5px 2px #18b201;
  }
    100%{
    transform: rotate(360deg);
    box-shadow:1px 5px 2px #0456c8;
  }
  }
  /* span{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
  } */
  @keyframes text {
    50%{
        color: black;
    }
  }

:host ::ng-deep.grid-nogutter {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}
/* :host ::ng-deep .ui-chart {
    background-color: black;
  }
   */

   :host ::ng-deep .p-chart .p-chart-canvas {
    background-color: black !important;
  }


:host ::ng-deep.grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    background: none;
    overflow: auto;
    /* gap:2px; */
  
}
:host ::ng-deep .p-dataview .p-dataview-header {
    display: flex;
    flex-wrap: wrap;
    color: #343a40;
    background: black;
    border: 1px px solid #dee2e6;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
}

.listbox{
    display: grid;
    grid-template-columns : 1fr 1fr;
}
.threeCon{

    display: flex;
    flex-direction: row;
    width: 100%
}
.flex-content{
    gap:8px;
    min-width: 50%;
    max-width: 50%;
    padding-left: 36px;
    cursor: pointer;
    display: flex;
    flex-direction : column;
    justify-content: space-between;
    
}
.pi.p-disabled {
    color: black; /* Change this to the desired color */
  }
  .pi:not(.p-disabled) {
    color: white; /* Change this to the desired color */
  }
.flex-content2{
    min-width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    
}
:host ::ng-deep .p-dataview .p-dataview-content {
    background: #ffffff;
    color: white;
    border: 0 none;
    padding: 0;
    background: none;
}
.card2{
    height: 200%;
}
:host ::ng-deep .p-dataview .p-dataview-header {
    display: flex;
    flex-wrap: wrap;
    background: #8e2323;
    color: #343a40;
    border: 1px
px
 solid #dee2e6;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
}

:host ::ng-deep  .layout-wrapper .layout-content .card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

:host ::ng-deep .product-grid-item {
    margin: 0.5em;
    border: 1px solid var(--surface-border);
}

/* :host ::ng-deep @media screen and (min-width: 768px)
.md\:col-4 {
    flex: 0 0 auto;
    padding: 1rem;
    width: 33.3333%;
} */

.col-4 {
    flex: 0 0 auto;
    /* padding: 1rem; */
    width: 33.3333%;
    box-sizing: border-box;
}
:host ::ng-deep  .p-paginator {
    /* background: #ffffff; */
    color: #6c757d;
    border: solid #e9ecef;
    border-width: 0;
    padding: 0.5rem
rem
 1rem;
    border-radius: 3px;
    background: none;
}